*,
::before,
::after {
  padding:0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --ff-primary: 'Inter', sans-serif;
  --fw-regular: 400;
  --fw-medium:500;
  --fw-semi:600;
  --fw-bold:700;
  --clr-primary:#293264;
  --clr-background:#F5F7FB;
  --clr-accent:#4D5B9E;
  --clr-correct:#94D7A2;
  --fs-h1: 3rem;
  --fs-h3: 1rem;
}

body{
  font-family: var(--ff-primary);
  background-color: var(--clr-background);
}

main{
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  
}
.blue__bloob{
position: absolute;
 top: 60%;
 left: -20%;
}
.yellow__bloob{
  position: relative;
  top: -20%;
  left: 50%;
}
.start__screen{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.start__h1{
  color: var(--clr-primary);
  font-size: var(--fs-h1);
  font-weight: var(--fw-bold);
  padding-bottom: 2rem;
}
.start__h3{
color: var(--clr-accent);
text-align: center;
font-size: var(--fs-h3);
font-weight: var(--fw-regular);
padding-bottom: 2rem;
}
.btn{
  border: none;
  background-color:var(--clr-accent);
  color: var(--clr-background);
  width: 195px;
  height: 55px;
  border-radius: 15px;
  font-weight: var(--fw-medium);
  font-family: var(--ff-primary);
  font-size: 1rem;
  cursor: pointer;
  transition: 0.5s ease-in;
}
.btn:hover{
  background-color:var(--clr-correct);
  color: var(--clr-primary)
  
  
}
.form{
  padding: 2rem;
}
.question__container{
  padding-bottom: 1rem;
}
.question{
  padding: 2rem 1rem;
  font-size: 20px;
}
.answer{
 /* display: none; */
border-radius: 10px;
z-index: 100;
padding: 1rem;
margin-right: 0.5rem;
}
.answer__btn{
  cursor: pointer;
  padding: 0.5rem;
  
  margin-bottom: 0.5rem;
  display: block;
  border-radius: 8px;
  border: 0.8px solid var(--clr-accent);
}
.answer__btn:hover{
  background-color: #94D7A2;
}
.answer__btn-txt{
  color: red;
  z-index: 2;
}
.checkAnswers__btn{
  
  margin: 0 auto;
  margin-top: 3rem;
  display: block;
}
/* MEDIA QUERIES FOR RESPONIVE DESIGN */
@media(min-width:800px){
  .blue__bloob{
    top: 20%;
    left: -80%;
  }
  .yellow__bloob{
    top: -60%;
    left: 50%;
}
.answer__btn{
  display: inline-block;
  margin-right: 0.5rem;
  margin-left: 1rem;

}

}
@media(min-width:1200px){
  .blue__bloob{
    top: 10%;
    left: -80%;
  }
  .yellow__bloob{
    top: -80%;
    left: 60%;
}
}
@media(min-width:1600px){
  .blue__bloob{
    top: -20%;
    left: -80%;
  }
  .yellow__bloob{
    top: -120%;
    left: 60%;
}
}